{% extends "base.html" %}
{% load django_bootstrap5 %}
{% block title %}
  {% if '/edit/' in request.path %}
    Редактирование команды
  {% elif "/delete/" in request.path %}
    Удаление команды
  {% else %}
    Добавление команды
  {% endif %}
{% endblock %}
{% block content %}
{% load django_bootstrap5 %}
  <div class="col d-flex justify-content-center">
    <div class="card" style="width: 40rem;">
      <div class="card-header">
        {% if '/edit/' in request.path %}
          Редактирование команды
        {% elif '/delete/' in request.path %}
          Удаление команды
        {% else %}
          Добавление команды
        {% endif %}
      </div>
      <div class="card-body">
        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
          {% if not '/delete/' in request.path %}
            {% bootstrap_form form %}
          {% else %}
            <h5 class="card-title">{{ command.name }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">
              <small>
                {{ command.created_at|date:"d E Y, H:i" }}<br>
                От автора <a class="text-muted">@{{ command.author.username }}</a>
              </small>
            </h6>
            <p class="card-text"><b>Синтаксис:</b></p>
            <p class="card-text">{{ command.syntax|linebreaksbr }}</p>
            <p class="card-text"><b>Подробное описание:</b></p>
            <p class="card-text">{{ command.description|linebreaksbr }}</p>
          {% endif %}
          {% if "/edit/" in request.path%}
            {% bootstrap_button button_class="btn btn-outline-danger btn-sm" button_type="submit" content="Обновить" %}
          {% elif "/delete/" in request.path%}
            {% bootstrap_button button_class="btn btn-outline-danger btn-sm" button_type="submit" content="Удалить" %}
          {% else %}
            {% bootstrap_button button_class="btn btn-outline-danger btn-sm" button_type="submit" content="Создать" %}
          {% endif %}
        </form>
      </div>
    </div>
  </div>
{% endblock %}